/*@font-face {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	/*"afterglow";
    src: url("../fonts/afterglow.woff2") format("woff2"),
        url("../fonts/afterglow.woff") format("woff");*/
    /*font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	/*"lora";
    src: url("../fonts/lora.woff2") format("woff2"),
        url("../fonts/lora.woff") format("woff");*/
    /*font-weight: normal;
    font-style: normal;
}*/

body {
    background: url(../images/background.png) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
    letter-spacing: 2px;
	text-align: center;
    /*text-transform: capitalize;*/
}

p,
pre {
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
}

.top-bar,
.top-bar ul {
    background-color: transparent !important;
}

.menu a {
	color: #000;
}

.menu a:active, .menu a:focus {
	background: url(../images/underline.png) no-repeat;
	color: #000;
}

.menu a:hover {
	color: #000;
	background: url(../images/underline.png) no-repeat;
}


/*nav {
    width: 100%;
    position: fixed;
}

/*nav a {
    color: #000;
}*/

#landing {
    height: 100vh;
    background-attachment: fixed;
    /* background-blend-mode: soft-light; */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center 0; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

/*#landing a {
    font-size: 35px;
}

#landing h1 {
    text-transform: uppercase;
}*/

#curve {
    position: absolute;
    bottom: 0;
    width: 100%;
	background: url(../images/page-break.png); /*this is the background photo for the curve. Need both below and this to work */
}

#curve path {
    /*fill: #b88f51;*/
	fill: url(../images/page-break.png); /*this is the background photo for the curve. Need both above and this to work */
}

/*#welcome {
    margin-top: 20px;
}*/

#second {
	margin: 0;
	background: url(../images/category-background.png);
}

.orbit {
    z-index: -999;
}

	
.card {
    margin: 0 auto;
    border: 0px !important;
    background-color: transparent !important;
	width: 250px;
	height: 250px; 
}

.card img {
	border-radius: 100%;
	/*box-shadow: black 0.3em 0.3em 0.3em;*/
	width: 70%;
	height: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	transition: ease 1s;
}

.card img:hover {
	width: 80%;
	height: 80%;
	margin-top: 25px;
	/*filter: opacity(60%);*/
}


#category {
	position: relative;
	background: url(../images/circle.png);
	/*background-color: #d4aa7b !important;*/
	border-radius: 100%;
	width: 250px;
	height: 250px;
}

#text {
    color: #fff;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
	background-color: black;
	font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
	transition: ease 2s;
}

#text h3 {
	 font-size: 30px;
}

.card:hover #text {
    opacity: 1;
}

.poetry {
    background: url(https://via.placeholder.com/1920x1080.png?text=ArtworkBackground);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
}

.illustrations img {
    border-radius: 0%;
}

/*footer {
    background: #eee;
    width: 100%;
}*/

h4.widgettitle {
    margin-top: 15px;
}

div#meta-3 {
    padding-left: 15px;
}

.widget ul {
    margin: 0;
    margin-top: -15px;
}

footer {
    /*background-color: transparent !important;*/
	background: url(../images/footer-background.png);
	margin-top: -30px;
	color: #fff;
}

/*mobile*/

.menu-icon {
	float: right;
}

#off-canvas {
	background: url(../images/mobile-menu.png);
	opacity: 100%;
	box-shadow: none;
}

.mobile-menu {
	/*Imargin-left: 10px;*/
	float: right;
	text-align: right;
	font-size: 20px;
}

.close-button:active {
	border: none;
}

/*# sourceMappingURL=main.css.map */
